image: python:3.9

stages:
  - build
  - deploy

cache:
  paths:
    - .cache

before_script:
  - pip install mkdocs mkdocs-material
  - pip install mkdocs-roamlinks-plugin mkdocs-blog-plugin mkdocs-rss-plugin
  - pip install pymdown-extensions

build:
  stage: build
  script:
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - echo "Deploying to GitLab Pages..."
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH